*{
     font-family: "DM Sans", sans-serif;
  
  font-weight: 600
}
#lef{
    margin-left: 50%;
    font-size: 25px;
}
#home{
    background-image: url("./media/bg.jpg");

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 20px;
  
    
    
}

@media screen and (min-width:440px){
    
#nam{
    font-size: 20px;
}
#titles{
    font-size: 30px;
}

}

    
@media screen and (min-width:400px){
    
#nam{
    font-size: 20px;
}
#titles{
    font-size: 12px;
}

}







#icons a{
    text-decoration: none;
    color: black;
    
}
#icons{
    background-color: rgba(38, 38, 38, 0.132);
    width: 65px;
    height: 150px;
    margin-left: -20px;
   
  
   

}
#ico:hover{
    background-color: rgba(0, 0, 255, 0.389);
    
}
#tex h1{
    font-size: 80px;
    text-align: center;
    margin-top: 50px;
}


#tex p{
    text-align: center;
}