*{
     font-family: "DM Sans", sans-serif;
  
  font-weight: 600
}
#lef{
    margin-left: 50%;
    font-size: 25px;
}
#home{
    background-image: url("./media/bg.jpg");

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 20px;
    
  
    
    
}

@media screen and (min-width:440px){
    
#nam{
    font-size: 20px;
}
#titles{
    font-size: 30px;
}


}

    
@media screen and (min-width:400px){
    
#nam{
    font-size: 20px;
}
#titles{
    font-size: 12px;
}

}







#icons a{
    text-decoration: none;
    color: black;
    
}
#icons{
    background-color: rgba(38, 38, 38, 0.132);
    width: 65px;
    height: 150px;
    margin-left: -20px;
    margin-top: 100px;
   
  
   

}
#ico:hover{
    background-color: rgba(0, 0, 255, 0.389);
    
}
#tex h1{
    font-size: 80px;
    text-align: center;
    margin-top: 100px;
}


#tex p{
    text-align: center;
    margin-top: 20px;
}
#bts{
    margin-top: 20px;
}
#abt{
    font-size: 50px;
    font-weight: 700;
}
#line{
    width: 40px;
    height: 5px;
    
    background-color: blue;
 
    border-radius: 20px;
 
}
#p1{
    font-size: 1.2rem;
    color: #666;
    max-width: 60rem;
    line-height: 1.7;
    margin-bottom: 1rem;
 

}
#btnn{
   padding: 10px 40px 10px 40px;
   font-size: 25px;
}
#p2{
    color: #666;
}
#about{
    background-color:rgb(250, 250, 250);

    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 20px;
    
}
#project p{
    line-height: 30px;
}
#project a{
    padding: 10px 40px 10px 40px;
   font-size: 25px;
}
#contact{
    background-image: url("./media/bg.jpg");

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   background-attachment: fixed;
   padding-top: 50px;
   padding-bottom:30px;
    
  
}

   
    #area1{
        width: 100%;
        height: 40px;
        background-color:#f0f0f0;
        border-radius: 50px;
        border:0px;
    }
    form{
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: start;
        width: 45%;
        margin-left: 26%;
        padding: 20px 20px 20px 20px;

    }
    #area2{
        width: 100%;
        height: 100px;
         background-color:#f0f0f0;
        border-radius: 20px;
        border: 0px;

    }
footer a{
    color: white;

}
footer{
    background-color: black;

    padding-top: 50px;
    padding-bottom: 50px;
}
hr .new{
    border: 20px solid rgb(129, 0, 0);
}
#navi{
    background-attachment: fixed;
    position: fixed;
    background-size: cover;
    width: 100%;
}
    
     @media screen and (min-width:500) {

        
     }